#homepage-register-modal {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .modal__inner {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 24px;
    background-color: #fff;
    border-radius: 12px;
    width: 500px;
    .modal__body {
      padding: 14px 0;

      .modal__body__group {
        margin-bottom: 16px;
        h4 {
          margin-bottom: 12px;
        }

        .modal__body__form__group {
          margin-bottom: 12px;
          label {
            margin-right: 6px;
            display: block;
          }

          input {
            padding: 8px 12px;
            width: 100%;
          }
        }
      }
    }
  }
}
