.staff-list {
  float: left;
  margin-bottom: 32px;
  width: 25%;
  /* border: 1px solid red; */
}

.staff-list * {
}

.staff-list:first-child {
  padding-left: 0;
}

.image-container {
  cursor: pointer;
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.image-container img {
}

/* .image-container img {
  transition: transform 0.3s ease;
}

.image-container:hover img {
  transform: scale(1.1);
} */

.content-container {
  margin-top: 16px;
}
