#service-component {
  table {
    border-collapse: collapse;
    width: 100%;

    td,
    th {
      padding-top: 18px;
      padding-bottom: 18px;
      padding-right: 40px;
      padding-left: 14px;
      text-align: center;
    }

    th {
      padding-top: 6px;
      padding-bottom: 6px;
    }

    th {
      background-color: #eee;
    }
  }
}

@media (max-width: 768px) {
  #service-component {
    table th.location,
    table td.location {
      display: none;
    }
  }
}
