.homepage-edit-tools-component {
  display: none;
  position: absolute;
  // left: 0;
  // top: 50%;
  // left: -34px;
  // width: 38px;
  // transform: translateY(-44%);
  // background-color: rgba(0, 0, 0, 0.7);
  // color: #fff;
  // cursor: pointer;
  align-items: center;
  justify-content: center;
  // border-radius: 5px;
  margin-left: 6px;

  span {
    display: inline-block;
    transform: translateY(2px);
  }
}
