#header-component {
  // box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);

  .nav-container {
    background-color: #fff;
  }

  nav {
    padding-left: 22px;
    padding-right: 22px;
    height: 88px;
    display: flex;
    position: relative;
  }

  .right-menu-container {
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 22px;
  }

  .right-menu-container span {
    display: flex;
    margin-right: 14px;
    cursor: pointer;
  }

  .right-menu-container span:last-child {
    margin-right: 0;
  }
}

.edit #header-component {
  nav .church-logo {
    position: relative;

    &:hover {
      #homepage-edit-overlay-component {
        display: flex;
      }
    }
  }
}
