.mini-nav {
  border-bottom: 1px solid #eee;
  background-color: #eee;
}

.mini-nav > div {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.nav {
  padding-left: 22px;
  padding-right: 22px;
  height: 68px;
  display: flex;
}

.right-menu-container {
  display: flex;
}

.right-menu-container span {
  display: flex;
  margin-right: 14px;
  cursor: pointer;
}

.right-menu-container span:last-child {
  margin-right: 0;
}
