#logo-edit-modal-component {
  .modal__inner {
    .modal__box {
      .modal__body {
        padding: 14px 14px;

        label {
          cursor: pointer;
        }

        .form-group {
          &:not(:last-child) {
            margin-bottom: 18px;
          }

          .form-group__title {
            margin-bottom: 6px;
            display: inline-block;
          }
        }

        .form-group-logoImage {
          .filebox {
            display: flex;
            .upload-name {
              display: inline-block;
              height: 40px;
              padding: 0 10px;
              vertical-align: middle;
              border: 1px solid #dddddd;
              width: 78%;
              color: #999999;
            }

            label {
              display: inline-flex;
              padding: 10px 14px;
              color: #fff;
              vertical-align: middle;
              background-color: #999999;
              cursor: pointer;
              height: 40px;
              margin-left: 4px;
              word-break: keep-all;
            }

            input[type="file"] {
              position: absolute;
              width: 0;
              height: 0;
              padding: 0;
              overflow: hidden;
              border: 0;
            }
          }
          img {
            max-width: 200px;
          }
        }

        .form-group-submit {
          gap: 6px;

          button {
            padding: 4px 6px;
            border-radius: 5px;
            border: 1px solid #8a8a8a;
            flex: 1;

            &:hover {
              background-color: #e4e4e4;
            }
          }
        }
      }
    }
  }
}
