#church-edit-modal {
  .modal__inner {
    padding-top: 34px;

    .modal__box {
      .modal__body {
        padding: 14px 20px;

        .form-group {
          margin-bottom: 12px;

          > p {
            &.required {
              position: relative;

              &::after {
                content: "*";
                position: absolute;
                left: -8px;
                top: -8px;
                color: red;
                font-size: 12;
              }
            }
          }
        }
      }
    }
  }
}
