#banner-edit-modal-component {
  .modal__inner {
    .modal__body {
      label {
        cursor: pointer;
      }

      input[type="radio"] {
        cursor: pointer;
      }

      padding: 14px 14px;

      .form-group {
        margin-bottom: 12px;

        .form-group__header {
          margin-bottom: 6px;
        }
      }

      ul.banners {
        li {
          .image-container {
            flex: 1;
            img {
              width: 500px;
              height: 202px;
              object-fit: cover;
            }
          }

          .controls {
          }
        }
      }

      button {
        padding: 4px 6px;
        border-radius: 5px;
        border: 1px solid #8a8a8a;
        flex: 1;

        &:hover {
          background-color: #e4e4e4;
        }
      }
    }
  }
}
