@import "./style/font.scss";
@import "./style/modal.scss";
@import "./style/edit-modal.scss";
@import "./style/reset.scss";
@import "./style/quill.scss";
@import "./style/button.scss";
@import "./style/form.scss";
root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #6635a5;
  --tablet-width: 1024px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.025rem;
  line-height: 1.5;
}

.overflow-hidden {
  overflow: hidden;
}

button {
  cursor: pointer;
}

/* custom */

.text-align-left {
  text-align: left;
}

.break-spaces {
  white-space: break-spaces;
}

.hide {
  display: none;
}

.no-border {
  border: none;
  outline: none;
}

.no-border:focus-visible {
}

.nowrap {
  white-space: nowrap;
}

.container {
  width: 1024px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.narrow-container {
  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cursor-pointer {
  cursor: pointer;
}

input[type="file"] {
  cursor: pointer;
}

.edit-overlay-container {
  position: relative;
}

.edit-overlay-container:hover .homepage-edit-overlay-component {
  display: flex;
  z-index: 3;
}

.edit-tools-container {
  position: relative;
  cursor: pointer;
}

.edit-tools-container:hover {
  display: flex;
  align-items: center;
}

.edit-tools-container:hover .homepage-edit-tools-component {
  display: inline-flex;
  z-index: 3;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.width-100 {
  width: 100%;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.text-align-center {
  text-align: center;
}

.pre-line {
  white-space: pre-line;
}

.max-width-100 {
  max-width: 100%;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

.col {
  float: left;
}

/* media */
@media (max-width: 1024px) {
  .container {
    width: 100% !important;
  }
}
