.main {
}

.main section {
  padding: 34px 22px;
  border-bottom: 1px solid #eee;
}

.main section > h3 {
  display: inline-block;
  font-weight: 200;
  margin-bottom: 28px;
}

.service-guide table {
  border-collapse: collapse;
}

.service-guide table tr td {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 40px;
  padding-left: 14px;
}

.service-guide table tr td:first-child {
  background-color: #eee;
}
