.invisible-content-guide {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #eee;
  border-radius: 3px;
  cursor: pointer;
  h3 {
    font-weight: bold !important;
    margin-bottom: 0 !important;
  }
}
