#banner-component {
  // margin-left: calc((1920px - 1236px) / 2 * -1);
  // position: relative;

  .gradient {
    position: absolute;
    top: 0;
    width: 10%;
    height: 100%;
    z-index: 3;
    opacity: 1;
    cursor: none;
  }

  .gradient.gradient-left {
    left: 0;
    // background: linear-gradient(
    //   to right,
    //   white 2%,
    //   rgba(255, 255, 255, 0) 32%,
    //   rgba(255, 255, 255, 0) 32%,
    //   rgba(255, 255, 255, 0) 32%
    // );
    background: linear-gradient(to right, white 2%, black);
  }

  .gradient.gradient-right {
    right: 0;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 1) 2%,
      rgba(255, 255, 255, 0) 32%,
      rgba(255, 255, 255, 0) 32%,
      rgba(255, 255, 255, 0) 32%
    );
  }

  .swiper-slide {
    overflow: hidden;
    height: 300px;
    img {
      height: 100%;
    }
  }

  .no-banner-guide {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #eee;
    border-radius: 3px;
  }
}

@media (max-width: 1024px) {
  #banner-component {
    .swiper-slide {
      img {
        height: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  #banner-component {
    .swiper-slide {
      img {
        height: 150px !important;
      }
    }
  }
}
