#banner-component {
  .swiper-slide {
  }

  .no-banner-guide {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #eee;
    border-radius: 3px;
  }
}

#banner-component:hover {
  position: relative;
  #homepage-edit-overlay-component {
    display: flex;
    z-index: 2;
  }
}

@media (max-width: 1024px) {
  #banner-component {
    .swiper-slide {
      img {
        height: 350px !important;
      }
    }
  }
}

@media (max-width: 768px) {
  #banner-component {
    .swiper-slide {
      img {
        height: 150px !important;
      }
    }
  }
}
