#churchstaffs-edit-modal {
  .modal__inner {
    .modal__box {
      width: 1200px;
      .modal__body {
        .form-group {
          table {
            tr[draggable="true"] {
              td {
                background-color: #fcf4db;
              }
            }
            th {
              background-color: #eee;
              padding: 8px 0;
            }
            td {
              vertical-align: middle;
              border: 1px solid #eee;
              border-collapse: collapse;
              padding: 12px;

              .profile-img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 100%;
              }

              text-align: center;
              &:last-child {
                width: 0;
                word-break: keep-all;

                .button-container {
                  button {
                    margin-right: 8px;

                    svg {
                      min-width: 18px;
                      margin-left: 2px;
                    }

                    &:last-child {
                      margin-right: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
