#church-videos-edit-modal {
  .modal__inner {
    padding-top: 40px;

    .modal__box {
      max-width: 640;
      min-width: 0;
      ul.church-videos-in-edit-modal {
        padding-left: 0;
        li {
          padding: 14px;
        }
      }

      .form-group {
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 14px;
        padding-bottom: 14px;

        &:first-child {
          padding-bottom: 0;
        }

        &.church-videos {
          // padding-left: 0;
          // padding-right: 0;
          padding-bottom: 0;

          ul {
            width: calc(100% + 28px);
            margin-left: -14px;
            margin-right: -14px;
          }
        }

        &.submit-container {
          padding-top: 0;
        }
      }
    }
  }
}
