#church-videos-edit-modal {
  .modal__inner {
    padding-top: 40px;

    .modal__box {
      max-width: 610;
      min-width: 0;
      ul.church-videos-in-edit-modal {
        padding-left: 0;
        li {
          padding: 10px;
          input {
            padding: 6px;
          }
          border-bottom: 1px solid #ccc;
        }
      }

      .form-group {
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 14px;
        padding-bottom: 14px;

        &:first-child {
          padding-bottom: 0;
        }

        &.church-videos {
          padding-left: 0;
        }
      }
    }
  }
}
