.edit-modal {
  .modal__inner {
    align-items: center;

    .modal__box {
      background-color: #fff;
      border-radius: 5px;
      min-width: 500px;

      .modal__header {
        padding: 10px 14px;
        border-bottom: 1px solid #ccc;
      }

      .modal__footer {
        padding: 10px 14px;
        border-top: 1px solid #ccc;
      }
    }
  }
}
