.input-underline {
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.2em solid #4e4e4e;
  background: rgba(#4e4e4e, 0);
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.4em 0.6em !important;
  color: #4e4e4e;
}

input,
textarea {
  border: 1px solid #ccc;
  &.transparent {
    border: 0;
    background-color: transparent;
    border: transparent;
  }
}

.no-padding {
  padding: 0;
}

textarea,
input {
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  line-height: 1.4;

  &:focus-visible {
    outline: none;
  }
}
