#services-edit-modal {
  .modal__body {
    padding: 12px 14px;
    width: 1200px;

    .group-items-container {
      ul.head,
      ul.group-item {
        display: table;
        width: 100%;

        li {
          display: table-row;

          &[draggable="true"] {
            background-color: #fcf4db;
          }

          &.head {
            background-color: #eee;
            > div {
              padding: 8px 0;
            }
          }

          > div {
            display: table-cell;
            text-align: center;
            padding: 4px 0;

            input {
              background-color: transparent;
            }
          }
        }
      }

      .button-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 12px;
      }
    }

    table {
      tr {
        th {
          background-color: #eee;
          padding: 8px 0;
        }
      }
      td {
        padding: 16px 0;
        text-align: center;
        input {
          padding: 0;
          width: 100%;
        }
      }
    }
  }
}
